body{
    background-image:https://www.google.com/search?q=image&tbm=isch&source=iu&ictx=1&fir=CJwabmfmxl2ySM%253A%252CpFs_4Fcq5AgpmM%252C_&vet=1&usg=AI4_-kSmsJSXmOnLPc_7R6JjVOmyfiRQpw&sa=X&ved=2ahUKEwinwqCJvLnjAhUKQRoKHehqBa8Q9QEwAHoECAQQBA#imgrc=CJwabmfmxl2ySM:;
 font-size:40px;
 width:40
}
p{
    magin:20px;
    flaot:right;
    list-style:none;
}
h{justify-content:space-between;
    display:felix;
}
li{
    display:inline;
    badding:20px
}
